dialog {
  border: none;
  border-radius: 0.5rem;
  direction: ltr;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(min(450px, 100%), 1000px, 10%);
  z-index: 1000;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

  &::backdrop {
    background: rgba(44, 43, 43, 0.4);
  }
}
