$types: word, idiom, phrase, cont, others;

.review-page {
    .filter-section {
        margin-block-end: 1.5rem;

        > div {
            display: flex;
            button {
                margin-inline: 0;
                border: none;
                padding-inline: 0.8rem;
                padding-block: 0.5rem;
                border-radius: 0;
                gap: 0;
                width: rem;

                @each $type in $types {
                    &.#{$type}.active {
                        background-color: var(--clr-#{$type});
                        color: white;
                    }
                }
            }
        }
    }

    .review-items {
        user-select: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        justify-content: space-evenly;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        direction: rtl;
        * {
            user-select: none;
        }
        .english-card-review {
            --clr-bg-header: "";
            --clr-header-text: "";
            --clr-header-edit-icon: #67f19c;
            user-select: none;
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            box-shadow: 0px 2px 4px rgba(14, 30, 37, 0.12), 0px 2px 16px rgba(14, 30, 37, 0.32);
            border: 1px solid var(--clr-bg-header);
            .card-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: var(--clr-header-text);
                // background-color: var(--clr-bg-header);

                .edit-icon {
                    min-width: max-content;
                    max-width: max-content;
                    color: var(--clr-header-edit-icon);
                    flex-basis: content;
                }
            }
            .card-body {
                strong {
                    color: #ff1a40;
                    font-weight: 500;
                    background: rgba(255, 26, 64, 0.1215686275);
                    border-radius: 0.5rem;
                    padding: 0px 0.5rem 5px;
                }
            }
            @each $type in $types {
                &.#{$type}.card {
                    --clr-bg-header: var(--clr-#{$type});
                }
            }
        }
    }
}
