.review-page {
    .review-items {
        user-select: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        justify-content: space-evenly;
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        direction: rtl;
        * {
            user-select: none;
        }
        .english-card-review {
            --clr-bg-header: "";
            --clr-header-text: "";
            --clr-header-edit-icon: #67f19c;
            user-select: none;
            transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
            box-shadow: 0px 2px 4px rgba(14, 30, 37, 0.12), 0px 2px 16px rgba(14, 30, 37, 0.32);
            border: 1px solid var(--clr-bg-header);
            .card-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                color: var(--clr-header-text);
                background-color: var(--clr-bg-header);

                .edit-icon {
                    min-width: max-content;
                    max-width: max-content;
                    color: var(--clr-header-edit-icon);
                }
            }
            .card-body {
                strong {
                    color: #ff1a40;
                    font-weight: 500;
                    background: rgba(255, 26, 64, 0.1215686275);
                    border-radius: 0.5rem;
                    padding: 0px 0.5rem 5px;
                }
            }

            &.word.card {
                --clr-bg-header: #824670;
                --clr-header-text: white;
            }
            &.idiom.card {
                --clr-bg-header: #f8c630;
                --clr-header-text: black;
            }
            &.phrase.card{
                --clr-bg-header :#eb9486;
                --clr-header-text: black;
            }
        }
    }
}
